<ion-view view-title="Restaurants">
  <ion-content class="has-header" delegate-handle="stickyScroll" onload="updatePage">
    <ion-list>
      <div id="search-bar">
        <div class="item item-input-inset">
          <label class="item-input-wrapper" id="search-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="searchText">
          </label>
        </div>
        <!--<div class="container spinner" ng-if="loading"><ion-spinner icon="android"></ion-spinner></div>-->


        <div class="item positive item-divider-ios" ng-repeat-start="mappedType in mappedRestaurantTypes | orderBy: 'mappedType'">
          <h2 class="positive">{{mappedType.type}}</h2>
          <ion-nav-view name="restaurants-tab"></ion-nav-view>
        </div>
        <div class="item item-text-wrap item-icon-right" ng-repeat="restaurant in mappedType.restaurants | filter: searchText">
          <h3 class="grey-text" ng-click="pickedRestaurant(restaurant)">{{restaurant.name}}</h3>
          <i class="icon icon-accessory"></i>
        </div>
        <div ng-repeat-end></div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
