<ion-view view-title="Welcome">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-image">
        <img src="img/stocks.png">
      </div>
    </div>
    <div class="padding card">
      <h1 class="positive">Feliz Navidad!</h1>
      <p class="grey-text">It seems like we always need help choosing where to go out and eat so I thought this would help. You can use the random button below to get a random restaurant from your list of restaurant. You can also use the competition page to help you decide which restaurant to go to or just choose yourself under the restaurants tab.</p>
    </div>

    <!--<div class="padding card">-->
      <button class="button button-positive button-block" ng-click="showAlert()" style="text-align: center">
        Random
      </button>
    <!--</div>-->
  </ion-content>
</ion-view>
