<ion-view view-title="Welcome">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-image">
        <img src="img/welcome-banner.png">
      </div>
    </div>
    <div class="padding card">
      <h1 class="positive">Welcome</h1>
      <p class="grey-text">Help me choose is an app designed to help minimize the time it takes to decide where you want to go out to eat</p>
    </div>

    <div class="padding card">
      <h1 class="positive text-center">Random</h1>
      <p class="grey-text"> TODO: Put button here</p>
    </div>
  </ion-content>
</ion-view>
