<ion-pane>
  <ion-view view-title="Manage Restaurants" cache-view="false" scroll="false">
    <section class="home-container">

      <div class="row icon-row">
        <div class="col text-center">
          <button class="button button-large button-positive" ui-sref="tab.add-restaurant"><i
            class="icon ion-plus-circled"></i></button>
          <div class="positive">Add</div>
        </div>

        <div class="col text-center">
          <button class="button button-large button-positive" ui-sref="tab.remove-restaurant"><i
            class="icon ion-minus-circled"></i></button>
          <div class="positive">Remove</div>
        </div>
      </div>
    </section>
  </ion-view>
</ion-pane>
