<ion-view view-title="{{restaurant.name}}">
  <ion-content class="padding has-header">
      <div class="padding">
        <div class="list card">

          <div class="item text-center">
            <h2 class="positive">{{restaurant.type}}</h2>
          </div>

          <div class="item item-image">
            <iframe ng-src={{restaurant.google_url}} width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
    </div>
  </ion-content>
</ion-view>
