<ion-tabs class=" tabs-positive tabs-icon-top">

  <ion-tab title="Home" icon="ion-ios-home" ui-sref="tab.home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Restaurants" icon="ion-pizza" ui-sref="tab.restaurants" ">
    <ion-nav-view name="restaurants-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Help me Chews" icon="ion-network" ui-sref="tab.chews">
    <ion-nav-view name="chews-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Manage" icon="ion-ios-gear" ui-sref="tab.manage">
    <ion-nav-view name="manage-tab"></ion-nav-view>
  </ion-tab>


</ion-tabs>
